@font-face {
  font-family: 'YourFontName';
  src: url('https://raw.githubusercontent.com/cperegrine/giftbox-font/main/GothamNarrow-Medium_Web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}